<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="Seq.Client.NLog"/>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="seq" xsi:type="Seq" serverUrl="http://localhost:8020" />
    </targets>
    <rules>
        <logger name="*" minlevel="Info" writeTo="seq" />
    </rules>
</nlog>